<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">Shop</div>
            <div class="cart">
                <!-- поиск -->
                <search></search>

                <!-- корзина -->

                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>

                <cart :cart-items="cartItems" :img="imgCart" :invisible="showCart"></cart>
            </div>
        </header>

        <!-- <div class="cart-block" v-show="showCart">
                    <p v-if="!cartItems.length">Cart is empty</p>
                    <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                        <div class="product-bio">
                            <img :src="imgCart" alt="Some img">
                            <div class="product-desc">
                                <div class="product-title">{{ item.product_name }}</div>
                                <div class="product-quantity">Quantity: {{ item.quantity }}</div>
                                <div class="product-single-price">$ {{ item.price }} each</div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="product-price">{{item.quantity*item.price}}</div>
                            <button class="plus-btn" @click="addProduct(item)">
                                <img src="https://img.icons8.com/ios-glyphs/10/000000/plus-math.png" /></button>
                            <button class="minus-btn" @click="removeProduct(item)">
                                <img src="https://img.icons8.com/material/10/000000/minus--v1.png" /></button>
                            <button class="del-btn" @click="remove(item)">&times;</button>
                        </div>
                    </div>
                </div> -->

        <main>
            <div class="products">
                <div class="product-item" v-for="product of filtered" :key="product.id_product">
                    <img :src="imgProduct" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}}</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/cartComponent.js"></script>
    <script src="js/searchComponent.js"></script>

    <script src="js/main.js"></script>
</body>

</html>